body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: #fff;
}

h1, h2 {
    text-align: center;
}

.analysis-box {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background: #1e1e1e;
    border-radius: 10px;
    text-align: center;
}

.analysis-box img {
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
}

#prediction {
    text-align: center;
    padding: 20px;
}

#predictForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px;
    width: 50%;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff7e5f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #feb47b;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1e1e1e;
}
